name: DevSecOps CI Pipeline

on:
  push:
    branches: 
      - main

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker Image
      run: |
        cd app
        docker build -t devsecops-flask-app .

    - name: Run Trivy Vulnerability Scan
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: devsecops-flask-app
        format: 'table'
        exit-code: '0'
        ignore-unfixed: true
        severity: CRITICAL,HIGH

    